body {
    counter-reset: figure;
  }
article img {
    margin: 0 auto;
    display: block; 
  }
  figcaption {
      font-style: italic;
      text-align: center;
      font-size: smaller;
      counter-increment: figure;
  }
  figcaption::before {
    content: "Abbildung " counter(figure) ": ";
  }
article h1 {
    font-size: 40px;
    font-family: "Comic Sans", "Verdana";
    color: blue;
}
